{% extends 'base.html' %}

<script>
{% block jquery %}  //Need to some make this method repeat mang
var endpoint = '/api/chart/data'
var Labels = []
var Defaults = []



var m = 0;
var w =0;
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'line',
    options: {
           responsive: true,
           maintainAspectRatio: false,
           animation: {

                     onComplete: function(animation) {
                       var sourceCanvas = myChart.chart.canvas;
                       var copyWidth = myChart.scales['y-axis-0'].width;
                       var copyHeight = myChart.scales['y-axis-0'].height + myChart.scales['y-axis-0'].top;
                         var targetCtx = document.getElementById("myChartAxis").getContext("2d");
                         targetCtx.canvas.width = copyWidth;
                 targetCtx.drawImage(sourceCanvas, copyWidth, copyHeight, copyWidth, copyHeight);
                     }
                 },
          scales: {
            yAxes: [
              {type:"linear","id":"y-axis-0",display:true, position:"right"},

            ]
          }
       },
    data: {
        labels: [],
        datasets: [{
            label: 'Channel 1',
            data: [],
            backgroundColor: ['rgba(255, 99, 132, 0.2)'],
            borderColor: ['rgba(255, 99, 132, 1)'],
            borderWidth: 1

        }]
    },
});

//var ctx2 = document.getElementById("myChart2");
// var myChart = new Chart(ctx, {
//     type: 'polarArea',
//     data: {
//         labels: Labels,
//         datasets: [{
//             label: '# of Votes',
//             data: Defaults,
//             backgroundColor: [ ],
//             borderColor: [ ],
//             borderWidth: 1
//         }]
//     },
//     options: {
//         scales: {
//             yAxes: [{
//                 ticks: {
//                     beginAtZero:true
//                 }
//             }]
//         }
//     }
// });

function refresh() {

      $.ajax({
          method: "GET",
          url:endpoint,
          success: function(data){
            Labels = data.labels
            Defaults = data.defaults
            setChart()
            console.log(data)
          },
          error:function(data){
            console.log("error")
          }

    });

}





function myFunction() {
   setInterval(refresh, 6000);
}


myFunction()


// Pushes only the latest elements, by comparing Thier primary keys
function setChart(){

  Pusher(myChart)
  //Pusher(myChart);

}

function Pusher(self) {


Defaults =  Defaults.map(Number)

for (i=0; i< Defaults.length; ++i) {
  self.data.datasets[0].data.push(Defaults[i]); // Behind by one !!
  self.data.labels.push(Defaults[i]);

}
Defaults = [];
labels = [];

  self.update();

  var newwidth = $('.chartAreaWrapper2').width()+60;
  $('.chartAreaWrapper2').width(newwidth);
   $('.chartAreaWrapper').animate({scrollLeft:newwidth});
}


{% endblock %}


</script>

{% block content %}

<div class='row'>
    <div class='col-sm'>
        <h1>ECoG1</h1>
        <div class="chartWrapper">
            <div class="chartAreaWrapper">
              <div class="chartAreaWrapper2">
                  <canvas id="myChart"></canvas>
              </div>
            </div>

            <canvas id="myChartAxis" height="300px" width="0"></canvas>
        </div>

    </div>
</div>

{% endblock content %}
